body{
    text-align: center;
    background-color: rgb(212, 241, 241);
}

.inputfield{
    margin-top: 40px;
  }
  
.inputfield button {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;
    border: none;
}
  
.inputfield input{
    padding: 8px;
    width: 250px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.weather-cards{
    display: flex;
    justify-content: center;
}

.weather-card{
    background-color: white;
    width: 230px;
    padding: 12px;
    border-radius: 8px;
    margin: 0px 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.weather-card p {
    margin-top: -12px;
}