.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.countryCard {
    flex-basis: calc(100% / 6 - 60px); /* Adjusting for some margin */
    margin: 15px 5px;
    box-sizing: border-box;
    border: 1px solid rgba(156, 155, 155, 0.742);
    border-radius: 7px;
    text-align: center;
    padding: 10px;
}

.flag {
    width: 100%;
    height: auto;
}

input{
    width:40%;
    padding : 12px 8px;
    margin : 2px 0px;
    box-sizing: border-box;
}

.searchSection {
    text-align: center;
    padding: 10px 0px;
    background-color: whitesmoke;
  }