table{
    width:100%;
}

table td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:hover {
    background-color: #ddd;
    cursor: pointer;
}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    padding-left:20px;
}

h1{
    text-align: center;
}

div{
    margin-top: 15px;
    text-align: center;
}
div button{
    background-color: #04AA6D;
    color: white;
}